*.bak

# SVN
.svn
repo/

# VIM locks
*.swp

# LibreOffice locks
.~lock.*#

*.tmp

# Word temporary
~$*.doc*
#
# # Excel temporary
~$*.xls*
#
# # Excel Backup File
*.xlk
#
# PowerPoint temporary
~$*.ppt*

# Protegé catalog files
*catalog*.xml

# LaTex
Abschlussvortrag.pdf
*.acn
*.acr
*.alg
*.aux
*-blx.bib
*.bbl
*.blg
*.brf
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lol
*.lot
*.maf
*.mtc
*.mtc1
*.nav
*.out
thesis.pdf
*.ps
*.run.xml
*.snm
*.synctex.gz
*.tdo
*.toc

# Elcipse
.classpath
.project
.settings
target/

# IntelliJ IDE
.idea/
*.iws
*.iml
*.eml
/out/

# Mac
.DS_Store
__MACOSX/

# Windows
Thumbs.db*

# dotNet
obj/
bin/
deploy/
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache

# Python
__pycache__

# Java
*.jar

*.bin

# hyungseok

singly_linked_list.o
male.txt
fr_bmp_thread.cpp
-g
.vscode/settings.json
.vscode/launch.json
.vscode/tasks.json
bmpreader/
data/test.txt
dbg.sh
exercises/
hwr
jpeg-9d/
pthread_create
random_number.cpp
singly_linked_list_char.cpp
singly_linked_list_number.cpp
fr_bmp_square

